Repository Yong0917/next-supabase-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{js,mjs,cjs}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,md,css,yaml,yml}": ["prettier --write"]
}

style: Prettier 포맷 일괄 적용 (Tailwind 클래스 자동 정렬)
  app/page.tsx
  app/protected/layout.tsx
  app/protected/page.tsx
  components/env-var-warning.tsx
  components/hero.tsx
  components/tutorial/code-block.tsx
  components/tutorial/connect-supabase-steps.tsx
  components/tutorial/fetch-data-steps.tsx
  components/tutorial/sign-up-user-steps.tsx
  components/tutorial/tutorial-step.tsx
  components/ui/badge.tsx
  components/ui/button.tsx
  components/ui/dropdown-menu.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: CLAUDE.md 추가 및 README.md 포맷 정리
  CLAUDE.md
  README.md
Due: prettier --write

chore: .env.example 제거
  .env.example
Due: none

chore: Claude Code 및 MCP 서버 설정 추가
  .claude/agents/code-reviewer.md
  .claude/agents/docs/prd-generator.md
  .claude/agents/nextjs-starter-optimizer.md
  .claude/agents/notion-db-expert.md
  .claude/agents/prd-to-roadmap.md
  .claude/agents/ui-markup-speciallist.md
  .claude/skills/git-commit/SKILL.md
  .claude/skills/roadmap-update/SKILL.md
  .mcp.json
  shrimp_data/WebGUI.md
Due: prettier --write

feat: Google OAuth 로그인 추가
  app/auth/callback/route.ts
  components/login-form.tsx
  components/sign-up-form.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: Google OAuth 외부 설정 TODO 추가
  TODO_google_oauth_setup.md
Due: prettier --write

chore: nextjs-supabase-expert 에이전트 MCP 지침 보완
  .claude/agent-memory/nextjs-supabase-expert/MEMORY.md
  .claude/agents/nextjs-supabase-expert.md
Due: prettier --write

docs: CLAUDE.md 프로젝트 현황 반영 업데이트
  CLAUDE.md
Due: prettier --write

docs: 개발 가이드 문서 추가
  docs/guides/component-patterns.md
  docs/guides/forms-react-hook-form.md
  docs/guides/nextjs-15.md
Due: prettier --write

docs: 모임 매니저 MVP 기획 문서 추가
  docs/LEANCANVAS.md
  docs/PRD.md
  docs/ROADMAP_v1.md
Due: prettier --write

chore: shrimp 태스크 규칙 및 에이전트 메모리 추가
  .claude/agent-memory/prd-to-roadmap/MEMORY.md
  shrimp-rules.md
Due: prettier --write

feat: Phase 0 - 폼 관리 및 스키마 검증 패키지 설치
  package-lock.json
  package.json
Due: prettier --write

feat: Phase 0 - shadcn/ui 컴포넌트 추가 및 button 업데이트
  components/ui/alert-dialog.tsx
  components/ui/button.tsx
  components/ui/radio-group.tsx
  components/ui/select.tsx
  components/ui/separator.tsx
  components/ui/tabs.tsx
  components/ui/textarea.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: Phase 0 - 이벤트 관련 DB 타입 및 편의 타입 추가
  lib/types/database.ts
  lib/types/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: Phase 0 완료 처리 및 로드맵 버전 업데이트
  docs/ROADMAP_v1.md
Due: prettier --write

feat: Phase 1 - 이벤트 CRUD 서버 액션 구현
  app/protected/events/actions.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Phase 1 - 이벤트 UI 컴포넌트 구현
  components/events/cancel-event-button.tsx
  components/events/event-card.tsx
  components/events/event-form.tsx
  components/events/invite-code-display.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: Phase 1 - 이벤트 페이지 및 네비게이션 구현
  app/protected/events/[id]/edit/page.tsx
  app/protected/events/[id]/page.tsx
  app/protected/events/new/page.tsx
  app/protected/events/page.tsx
  app/protected/layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore/docs: Prettier 설정, shrimp 태스크 데이터 및 로드맵 업데이트
  .prettierignore
  docs/ROADMAP_v1.md
  shrimp_data/.gitignore
  shrimp_data/memory/tasks_memory_2026-02-25T14-44-55.json
  shrimp_data/tasks.json
Due: prettier --write

refactor: 이벤트 Zod 스키마를 별도 schemas.ts 파일로 분리
  app/protected/events/actions.ts
  app/protected/events/schemas.ts
  components/events/event-form.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: EventsPage에 Suspense 적용으로 blocking route 오류 수정
  app/protected/events/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: app/protected → app/(protected) 라우트 그룹으로 마이그레이션
  app/(protected)/events/[id]/edit/page.tsx
  app/(protected)/events/[id]/page.tsx
  app/(protected)/events/actions.ts
  app/(protected)/events/new/page.tsx
  app/(protected)/events/page.tsx
  app/(protected)/events/schemas.ts
  app/(protected)/layout.tsx
  app/protected/layout.tsx
  app/protected/page.tsx
  components/events/cancel-event-button.tsx
  components/events/event-card.tsx
  components/events/event-form.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: 전역 레이아웃 개편 및 랜딩 페이지 리디자인
  app/globals.css
  app/layout.tsx
  app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: 인증 UI 한국어화 및 리다이렉트 경로 변경
  app/auth/callback/route.ts
  app/auth/login/page.tsx
  app/auth/sign-up/page.tsx
  components/auth-button.tsx
  components/login-form.tsx
  components/logout-button.tsx
  components/sign-up-form.tsx
  components/update-password-form.tsx
  shrimp_data/WebGUI.md
Due: eslint --fix --max-warnings=0, prettier --write

feat: 이벤트 커버 이미지 업로드 기능 추가
  app/(protected)/events/[id]/edit/page.tsx
  app/(protected)/events/[id]/page.tsx
  app/(protected)/events/actions.ts
  app/(protected)/events/new/page.tsx
  app/(protected)/events/page.tsx
  app/(protected)/events/schemas.ts
  components/events/event-card.tsx
  components/events/event-form.tsx
  lib/supabase/storage.ts
  lib/types/database.ts
  next.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: 로그인/로그아웃 후 라우터 갱신 처리
  components/login-form.tsx
  components/logout-button.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: ROADMAP 진행 상태 업데이트 및 설정 개선
  .claude/agent-memory/nextjs-supabase-expert/MEMORY.md
  .prettierignore
  docs/ROADMAP_v1.md
Due: prettier --write

feat: 참여 시스템 서버 액션 구현 (joinEvent, cancelParticipation, getEventByInviteCode)
  app/(protected)/events/actions.ts
  app/(protected)/events/schemas.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: 초대 코드 미리보기 페이지 구현 (/invite/[code])
  app/invite/[code]/page.tsx
  lib/supabase/proxy.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: 참여 신청/취소 UI 컴포넌트 및 이벤트 상세 페이지 연결
  app/(protected)/events/[id]/page.tsx
  components/events/cancel-participation-button.tsx
  components/events/join-button.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: 로그인 후 원래 경로 복귀 처리 (next 파라미터)
  app/auth/login/page.tsx
  components/login-form.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: ROADMAP Phase 2 완료 처리 (v1.4)
  docs/ROADMAP_v1.md
Due: prettier --write

feat: 공지/댓글 서버 액션 및 스키마 구현 (Phase 3)
  app/(protected)/events/[id]/announcements/actions.ts
  app/(protected)/events/[id]/announcements/schemas.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: 공지/댓글 컴포넌트 구현 (Phase 3)
  components/events/announcements/announcement-card.tsx
  components/events/announcements/announcement-form.tsx
  components/events/announcements/comment-form.tsx
  components/events/announcements/comment-list.tsx
  components/events/announcements/delete-announcement-button.tsx
  components/events/announcements/delete-comment-button.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: 공지/댓글 페이지 구현 (Phase 3)
  app/(protected)/events/[id]/announcements/[announcementId]/edit/page.tsx
  app/(protected)/events/[id]/announcements/[announcementId]/page.tsx
  app/(protected)/events/[id]/announcements/new/page.tsx
  app/(protected)/events/[id]/announcements/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: 참여자 관리 UI 구현 (Phase 4)
  app/(protected)/events/[id]/manage/page.tsx
  app/(protected)/events/[id]/page.tsx
  app/(protected)/events/actions.ts
  app/(protected)/events/schemas.ts
  components/events/participant-list.tsx
  components/events/participant-status-badge.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix/chore: 로그인 페이지 Suspense 적용 및 ROADMAP v1.6 업데이트
  app/auth/login/page.tsx
  docs/ROADMAP_v1.md
Due: eslint --fix --max-warnings=0, prettier --write

design: 전역 테마 indigo/purple → amber/orange로 전환
  app/globals.css
  app/layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: 홈 페이지 리디자인
  app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: 이벤트 목록 페이지 개선 - 전체 이벤트 탭 및 초대 코드 입력 추가
  app/(protected)/events/actions.ts
  app/(protected)/events/page.tsx
  app/(protected)/events/schemas.ts
  components/events/invite-code-input.tsx
Due: eslint --fix --max-warnings=0, prettier --write
